.landing-page {
  display: grid;
}

.landing-button {
  font-family: Tangerine;
  font-size: 72px;
  border: none;
  cursor: pointer;
  background-color: #f5ebe0;
  text-decoration: underline 2px;
}

.landing-paragraphs {
  font-family: Roboto;
  font-size: 33px;
  margin: 6% 18% 10% 18%;
  position: relative;
}

.main-div {
  width: 400px;
  height: 400px;
  margin: 200px auto;
  perspective: 800px;
  position: absolute;
}

.cube-div {
  width: 400px;   
  transform-style: preserve-3d; 
  animation: rotate-diagonal-2 15s 4 linear both;
}

.cube-div div {
  position: absolute;
  width: 400px;
  height: 400px;
  opacity: 0.7;
  color: white;
}

.front {
  transform: translateZ(200px);
  background: #0000FF;
}


.back {
  transform: rotateY(180deg) translateZ(200px);
  background: #00FF00;
}

.left {
  transform: rotateY(-90deg) translateX(-200px);
  transform-origin: left;
  background: #FFFF00; 
}

.right {
  transform: rotateY(90deg) translateX(200px);
  transform-origin: right;
  background: #FF7F00;   
}

.top {
  transform: rotateX(-90deg) translateY(-200px);
  transform-origin: top;
  background: #4B0082;
}

.bottom {
  transform: rotateX(90deg) translateY(200px);
  transform-origin: bottom;
  background: #FF0000; 
}

@keyframes rotate-diagonal-2 {
  0% {
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    transform: rotate3d(-1, 1, 0, 360deg);
  }
}


/* .shadow {
  
  
  width:400px;
  height:400px;
  background: rgba(0,0,0,0.5);
  box-shadow: 0 0 50px 50px rgba(0,0,0,0.5);
  -webkit-transform: rotateX(90deg) translateZ(-250px) rotateY(180deg) translateX(0px);

} */
