.color-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexcode {
  font-family: bebas neue;
  font-size: 36px;
  text-shadow: 0 0 4px #fff, 0 0 9px #fff, 0 0 19px #fff, 0 0 25px #fff;
}
