.color-box {
  display: flex;
  height: 200px;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.hexcode {
  font-family: bebas neue;
  font-size: 20px;
  text-shadow: 
    0 0 4px #FFF,
    0 0 9px #FFF,
    0 0 19px #FFF,
    0 0 25px #FFF;
}