.favorite {
  height: 100%;
}

.fav-header {
  display: flex;
  justify-content: space-between;
}

.get-more-inspo {
  height: 38px;
  margin-top: 26px;
  margin-right: 20px;
  cursor: pointer;
  /* font-family: Ubuntu; */
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.inspo-group-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.small-logo-loca {
  display: flex;
  margin-left: 10px;
}

.announce-title {
  font-family: bebas-neue;
  font-size: 54px;
}







