.grouping {
  margin: 20px;
}

.small-img {
  height: 200px;
  width: 300px;
}

.group-color {
  height: 200px;
  width: 300px;
  background: #fff;
}

.group-hexcode {
  text-shadow: 0 0 4px #fff, 0 0 9px #fff, 0 0 19px #fff, 0 0 25px #fff;
  font-size: 25px;
}

.group-hex-div {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 60px;
}

.draw-button,
.delete-button {
  font-family: "Dancing Script", cursive;
  border: none;
  cursor: pointer;
  background: #f5ebe0;
}

.button-image {
  width: 20px;
  height: auto;
  background: #f5ebe0;
}
.group-word {
  font-size: 36px;
}
.grouping {
  border: 2px solid black;
}
