.top-line {
  font-family: "Tangerine", cursive;
  color: #000;
  font-size: 144px;
  font-weight: 400;
  margin: 0;
}

.top-line-2 {
  font-family: "Ubuntu", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 144px;
  margin: 0;
}

.bottom-line {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 300;
  font-size: 36px;
  margin-top: -31px;
}


