.top-line {
  font-family: "Tangerine", cursive;
  color: #e3d5ca;
  font-size: 50px;
  margin: 0;
}

.top-line-2 {
  font-family: "Courier New", Courier, monospace;
  color: #d5bdaf;
  font-weight: 600;
  font-size: 75px;
  margin: 0;
}
