@import '../../scss/_mixins.scss';

.canvas-container {
  @include height-width(100%, 100%)
}

.wrapper-canvas-tools {
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
}

.canvas-header {
  @include display-justContent(flex, space-between);
}

.nav-buttons {
  margin-left: 15px;
}

.header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.clear-button {
  width: 150px;
  font-size: 14px;
  margin-left: 55px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
