@import "./scss/_variables.scss";
@import "./scss/_normalize.scss";

.App {
  height: 100vh;
  margin: 0;
  text-align: center;
  background-color: $mainColor;
}

.flex-all {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
}
