//colors
$mainColor: #f5ebe0;
$white: #fff;
$black: #000000;
$lightRed: #f1a2a2;
$lightOrange: #f8b16a;
$lightYellow: #f7f79f;
$lightGreen: #bcf7bc;
$lightBlue: #acacf5;
$lightPurple: #d9b9f0;
$fadedBackground: rgb(243, 236, 230);

//fonts
$tangerine: "Tangerine", cursive;
$ubuntu: "Ubuntu", sans-serif;
$roboto: "Roboto", sans-serif;
$openSans: "Open Sans", sans-serif;
